node_modules/
.env
npm-debug.log

uploads/profiles/*
uploads/brands/*
uploads/categories/*
uploads/products/*
!uploads/profiles/.gitkeep
!uploads/brands/.gitkeep
!uploads/categories/.gitkeep
!uploads/products/.gitkeep

.DS_Store
